/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #2563EB;
  --color-secondary: #1E293B;
  --color-accent: #22C55E;

  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;

  --text-primary: #0F172A;
}